/* debugger.css */
html { width:100vw; height:100vh; }
#hidden { display: none; }
body {
	position: relative;
	font-family: monospace;
	height: 100vh;
	margin: 0;
}
body > nav {
	position: absolute;
	top: 0; left: 0; right: 0; height: 21px;
	padding: 4px 6px 0px;
	overflow: hidden;
	font-family: monospace;
	background: linear-gradient(to bottom, hsla(0, 0%, 88%, 1) 44%,hsla(0, 0%, 81%, 1) 100%);
}
body > nav li {
	float: left;
	list-style: none;
	margin: 3px 0 0 0;
	padding: 1px 10px 2px;
	border: 1px solid #b1b1b1;
	border-radius: 6px 6px 0px 0px;
	margin-left: -1px;
	cursor: pointer;
	background-color: #efefef;
	background: linear-gradient(to bottom, #cccccc 0%,#bfbfbf 50%,#adadad 51%,#c2c2c2 100%);
}
body > nav li.selected {
	border-bottom-width: 0;
	padding: 2px 10px 2px;
	margin-top: 0;
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
}

body > main {
	position: absolute;
	top: 25px; left: 0; right: 0; bottom: 0;
}
body > main > div {
	display: none;
	padding: 8px;
	background-color: #efefef;
	height: -webkit-fill-available;
}
body > main > div.selected {
	display: block;
}

body > main > [name=scripting].selected {
	display: grid;
	grid-template: 
		"main main"
		"ctx1 ctx2"
		"vbin fbin"
		/ 1fr 1fr;
	grid-gap: 4px;
}
body > main > [name=palettes].selected {
	display: grid;
	grid-template: 
		"main main"
		"swh1 swh2"
		/ 1fr 1fr;
	grid-gap: 4px;
}

.group {
	margin: 10px 6px 6px 6px;
	border: 1px solid #909090;
	padding: 10px 6px 6px 6px;
	position: relative;
}
.group::before {
	content: attr(group-name);
	position: absolute;
	top: -0.5em; left: 1em;
	background-color: #efefef;
	padding: 0px 2px;
}
.group p {
	margin: 6px 0px;
	display: flex;
	align-items: center;
}
.group input.file {
	flex-grow: 1;
	margin-left: 1ch;
}



.mainContext {
	grid-area: main;
}
#ctx1 {
	grid-area: ctx1;
	background-color: #ceffce;
}
#ctx1::before {
	content: 'Script Context 1';
}
#ctx2 {
	grid-area: ctx2;
	background-color: #ced2ff;
}
#ctx2::before {
	content: 'Script Context 2';
}
#varBin {
	grid-area: vbin;
	background-color: #fbfecc;
}
#varBin::before {
	content: 'Variable Changes';
}
#flagBin {
	grid-area: fbin;
	background-color: #ffe0ce;
}
#flagBin::before {
	content: 'Flag Changes';
}


.scriptContext {
	padding: 8px;
	border: 1px solid gray;
	position: relative;
}
.scriptContext::before {
    position: absolute;
    top: 4px;
    right: 8px;
}
.scriptContext .status {
	display: block;
    margin: -8px -8px 6px -8px;
    background-color: #a7a7a7;
    padding: 4px 9px;
}
.scriptContext .status[status=enabled] {
	background-color: #2fde03;
}
.scriptContext .status[status=disabled],
.scriptContext .status[status=stopped] {
	background-color: #b32302;
}
.scriptContext .status::after {
	content: 'Status: 'attr(status);
}
.scriptContext [name=nativePtr],
.scriptContext [name=scriptPtr] {
	/* display: block;
	border: 1px solid black; */
	color: #b1b1b1;
}
.scriptContext .activeMode {
	background-color: #fffdbf;
	border: 1px solid #c1c1c1;
	color: #000000;
}
.scriptContext label {
	display: flex;
	padding-bottom: 1px;
}
.scriptContext label input[type=text] {
	width: 80%;
	flex-grow: 1;
	margin-left: 1ch;
}
.scriptContext .stack {
    /* width: 8em; */
    border: 1px solid gray;
    background-color: #e8e8e8;
}
.scriptContext .stack stackframe {
	display: none;
	background-color: #efefef;
	text-align: center;
}
.scriptContext .stack stackframe:nth-child(-n+5) { /* always show the first 5 stack frames */
	display: block;
}
.scriptContext .stack stackframe:nth-child(2n) {
	background-color: #dcdcdc;
}
.scriptContext .stack stackframe.active {
	display: block;
	background-color: #b0d9fd;
}
.scriptContext .stack stackframe.active:nth-child(2n) {
	background-color: #81c4ff;
}
.scriptContext .cmdTable {
	display: block;
	border: 1px solid black;
}
.scriptContext .mdata {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 8px;
}
.scriptContext .stackDepth {
	order: 0;
}
.scriptContext .mode {
	order: 1;
}
.scriptContext .comparisonResult {
	order: 2;
}
.scriptContext .data {
	padding-left: 6ch;
}
.scriptContext .data::before {
	content: 'Data: ';
	margin-left: -6ch;
}

.changeBin {
	padding: 8px;
	border: 1px solid gray;
	position: relative;
}
.changeBin::before {
    position: absolute;
    top: 4px;
    right: 8px;
}
.changeBin .bar {
	display: block;
    margin: -8px -8px 6px -8px;
    background-color: #a7a7a7;
    padding: 4px 9px;
}
.changeBin label {
	display: inline-block;
	border: 1px solid gray;
	padding: 1px 6px;
    border-radius: 8px;
	background-color: #dbdbdb;
	transition-property: background-color;
	transition-delay: 2s;
	transition-duration: 6s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.changeBin label .prev, 
.changeBin label .curr {
	background-color: white;
	padding: 0px 1px;
}
.changeBin label.changed {
	background-color: #2fde03;
	transition-duration: 0s;
	transition-delay: 0s;
}
.changeBin label > input[type=text] {
	width: 4ch;
	text-align: right;
}
.changeBin .oftList {
	/* border-bottom: 1px solid gray; */
}


.controls {
	grid-area: main;
}
#swatch1 {
	grid-area: swh1;
	background-color: #ceffce;
}
#swatch1::before {
	content: 'Background Palettes';
}
#swatch2 {
	grid-area: swh2;
	background-color: #ced2ff;
}
#swatch2::before {
	content: 'Object Palettes';
}
.swatches {
	padding: 8px;
	border: 1px solid gray;
	position: relative;
}
.swatches::before {
    position: absolute;
    top: 4px;
    right: 8px;
}
.swatches swatch {
	grid-template: repeat(16, 16px);
}
.swatches swatch span {
	background-color: attr(color);
}
